body{
    font-family: $fontBasic;
    font-size: 13px;
    color: $colorBasic;
    overflow-x: hidden;
}
.body--close{
    overflow: hidden;
}
.container{
    max-width: 360px;
    margin: 0 auto;
    padding: 0 20px;
    @media(min-width:480px){
        max-width: 480px;
    }
    @media(min-width:768px){
        max-width: 768px;
    }
    @media(min-width:1000px){
        max-width: 1000px;
    }
    @media(min-width:1440px){
        max-width: 1253px;
    }
}

input::placeholder{
    color: #8D8D8D;
    font-size: 13px;
    @media(min-width:1000px){
        font-size: 16px;
    }
}